[submodule "digger"]
	path = tools/digger
	url = https://github.com/2xs/digger
	ignore = dirty
[submodule "libpip"]
	path = src/partition/lib/libpip
	url = https://github.com/2xs/libpip
	branch = EDF_scheduler
	ignore = dirty
